@use '../util/' as util;
.banner {
        
        min-height:20%;
        background-color:var(--clr-neutral-600);
       
     
        
    &__contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20vh;
        padding: 0 1.5rem;
    }

    &__title h1{
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: var(--clr-neutral-100);
        margin-bottom: 1rem;
    }

    &__snippet {
        font-size: util.$font-base;
        line-height: 1;
        color: var(--clr-neutral-100);
    }
} 
