:root {
    --clr-primary-700: hsl(219, 60%, 55%);
    --clr-primary2-700: hsl(0, 100%, 47%);
    --clr-primary-600: hsl(216, 98%, 52%);
    --clr-primary-300: hsl(96, 28%, 67%);

    --clr-neutral-500: hsl(232, 7%, 44%);
    --clr-neutral-600: hsl(220, 3%, 18%);
    --clr-neutral-400: hsl(300, 24%, 96%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    @mixin mq($size) {
        @media only screen and (min-width: $size) {
            @content
        }
    }
}