.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.gallery {

    width: 100%;
    margin-bottom: 2rem;
    &__item:hover {
        cursor: pointer;
    }
    &__item img {
        width: 100%;
        height: 100%;
    }
    
    &__item.brighten img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
    
    &__item.brighten img:hover {
    -webkit-filter: brightness(100%);
    }
    
}


