@use "../util/" as util;
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12rem;
    background-color: var(--clr-primary-300);
    height: 5rem;
    
   
}
   
.links__item a {
    font-size: util.$font-base;
    font-weight: util.$font-weight-700;
    color: var(--clr-neutral-100); 
    &:not(:last-child) {
        margin-right: 8rem;
    } 
}   

.links__item a:hover {
    color: var(--clr-neutral-600);
}