.container {
    min-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;

  
   &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   &__name {
    max-height: 288px;
    h1{
        font-size: 2.5rem;
        margin-bottom: 1.25rem;
    }
    
   }
    &__description {
        grid-column: 2/3;  
        min-height: 288px;
    }

    &__list-group {
        justify-content:center;
        
    }
}


.container__img img {
    margin-bottom: 1rem;
    border: 10px solid rgb(255,111,72);
    background: linear-gradient(0deg, rgba(255,111,72,1) 0%, rgba(240,42,166,1) 100%);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.container__name a {
    display: inline-block;
    margin-bottom: 2rem;
    color: var(--clr-neutral-600);
    font-weight: bold;
    
}
.container__name a:hover {
    color: var(--clr-primary-600);;
}
.snippet {
    color: var(--clr-neutral-500);
    height: 50px;
    overflow: hidden;
}
.container__name.showContent p {
    color: var(--clr-neutral-500);
    height: auto;
}

.container__name.showContent a.readmore-btn {
    color: var(--clr-primary2-700);
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.container__list-group {
    grid-column: 1/2;
}