ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    &:not(:last-child) {
        margin-right: 2rem;
    }
}

li {
    font-size: 20px;
    font-weight: bold;
    color: var(--clr-neutral-500);
    &:not(:last-child) {
        margin-right: .5rem;
    }
}


span {
    color: var(--clr-primary-700);
    &:not(:last-child) {
        margin-right: .5rem;
    }
}
